
<h3>Subir Imagen</h3>
<form action="/upload" enctype="multipart/form-data" method="POST">
    <div class="form-group">
      <input type="file" class="form-control-file" name="imagen">
      <input type="submit" value="Get me the stats!" class="btn btn-default">            
    </div>
  </form>

  
<h3>Subir Varias Imagenes</h3>
<form action="/uploadmult" enctype="multipart/form-data" method="POST">
    <div class="form-group">
      <input type="file" class="form-control-file" name="imagenes" multiple>
      <input type="submit" value="Get me the stats!" class="btn btn-default">            
    </div>
  </form>